<div class="container">
    <div class="card">
        <h5 class="card-header">My Profile ➽ Submit Resignation</h5>
        <div class="card-body">
            <form>
                <table>
                    <tr>
                        <td>Resignation Date <span style="color: red;">*</span></td>
                        <input type="date">
                    </tr>
                    <tr>
                        <td>
                            Notice period (months) <span style="color: red;">*</span><span>:</span>
                            <span>3</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Last Working Date* <span style="color: red;">*</span></td>
                        <input type="date">
                    </tr>
                </table>

            </form>
            <div class="mt-3">
                <a  class="btn btn-primary">Submit</a>
            </div>
           
        </div>
    </div>

</div>