<!-- <div class="container">
    <div class="card  mt-5" style="width: 23rem;">
        <div class="card text-center">
            <h5>My Goals and Weightage</h5>
        </div>
                
        <div id="chart">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [plotOptions]="chartOptions.plotOptions"
              [labels]="chartOptions.labels"
            ></apx-chart>
          </div>
          
    </div>
</div> -->



